ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
}

li {
    float: right;
    font-family: Arial, sans-serif;
}

#l1 {
    float: left;
    font-family: Arial, sans-serif;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    text-decoration: underline;
}

form {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Align elements to the start */
}

input[type="text"] {
    margin-bottom: 10px; /* Space between text field and button */
}

h1 {
    font-family: Arial, sans-serif;
    font-size: 60px
}

.centered {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center horizontally */
    align-items: center;    /* Center vertically */
    height: 80vh
}

.search-bar {
    width: 400px;
    padding: 10px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
    outline: none;
}

.search-bar-1 {
    width: 400px;
    padding: 10px;
    border: 1px solid #dfe1e5;
    box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
    outline: none;
}

.search-button {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #4285f4;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

ul, .container, .container-1 {
    font-family: Arial, sans-serif
}

.search-button:hover {
    background-color: #357ae8;
}

h3 {
    color: orangered;
}
.container-1 {
    display: inline-grid;
    grid-template-columns: 300px 1fr;
    align-items: center
}

.container-1 div {
    background-color: white;
    font-size: 18px;
    margin: 10px;
    padding: 20px;
    width: 700px;
    height: 20px;
    align-items: center;
}

.container-2 {
    flex-direction: row;
    height: 30px;
    width: 500px
}